{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "useTabs": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always",
  "bracketSameLine": false
}
